QWidget {
        background-color: #2C2C2C;
    }
    QLineEdit {
        background-color: "Gray";
    }
    QTextEdit {
        background-color: #404040;
        color: "White";
        font-size: 13px;
    }
    QComboBox {
        background-color: #2C2C2C;
        color: "White"
    }
    QPushButton {
        background-color: #222222;
        font-size: 14px;
        color: "White";
    }
    QSpinBox {
        font-size: 13px;
        background-color: #2C2C2C;
        color: "White";
    }
    QPushButton:hover {
        background-color: #404040;
    }
    QComboBox:hover {
        background-color: #404040;
    }
    QComboBox QAbstractItemView {
        background-color: #2C2C2C;
        color: "White";
    }
    QSpinBox:hover {
        background-color: #404040;
    }
    QSpinBox:up-button, QSpinBox:down-button {
        color: #404040;
    }
    QSpinBox:up-arrow, QSpinBox:down-arrow {
        color: White;
    }
    QMenu {
        color: "white";
    }
    QMenuBar {
        color: "White";
    }
    QMenuBar:item:selected {
        background-color: #404040;
    }
    QMenu:item:selected {
        background-color: #404040;
    }
    QMessageBox {
        color: "White";
    }
    QCheckBox {
        color: "White";
    }
    QLabel {
        color: "White";
    }